
  /* Imagem que está exibida na página de fundo */
  body{
    margin:10px;
    background-image: url("../images/Captura\ de\ tela\ 2021-08-10\ 150452.png");
    background-repeat: no-repeat;
    background-size: 2250px;
  }

  /* Faz a decoração do texto*/
  a{
    text-decoration: none;
  }
  
  
  a.links{
    display: none;
  }

  .content{
    max-width: 500px;
    margin: 0 auto;
    background: white;
  }
  
/* Muda as configuraçoes do titulo */
  h1{
    font-size: 48px;
    color: #066a75;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
/*after cria um pseudo-elemento que é o último filho do elemento selecionado.*/
  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
  }
  /* É um paragrafo e com isso o paragrafo é mudado as margens, cores e desing das letras*/
  p{
    margin-bottom:15px;
  }
  p:first-child{
    margin: 0px;
  }
  /* Representa uma legenda para um item em uma interface de usuário*/
  label{
    color: #405c60;
    position: relative;
  }
  ::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
  } 
  input {
    outline: none;
  }
  
  
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #b2b2b2;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: #3d9db3;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    transition: all 0.2s linear;
  }
  input[type="submit"]:hover{
    background: #4ab3c6;
  }
  
  .link{
    /* position: absolute; */
    background: #e1eaeb;
    color: #7f7c7c;
    left: 0px;
    /* height: 20px; */
     width: 100%; 
    /* padding: 17px 30px 20px 30px; */
    text-align: right;
    font-size: 16px;
    border-top: 1px solid #dbe5e8;
   
    border-radius: 0 0  5px 5px;
  }
  .link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: rgb(29, 162, 193);
    margin-left: 10px;
    border: 1px solid #cbd518;
  
    -webkit-border-radius: 4px;
    border-radius: 4px;  
  
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
    display: inline-block;

  }
  /* Define o estilo do link quando passa o mouse por cima dele, a:active define o estilo do link ativono que foi "clicado" */
  .link a:hover {
    color: #39bfd7;
    background: #f7f7f7;
    border: 1px solid #4ab3c6;
  }